<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meal.name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ meal.name }}</h1>
        <img src="{{ meal.image.url }}" alt="{{ meal.name }}" class="img-fluid mb-3">
        <p><strong>Kalorie:</strong> {{ meal.calories }}</p>
        <p><strong>Białko:</strong> {{ meal.protein }}</p>
        <p><strong>Węglowodany:</strong> {{ meal.carbohydrates }}</p>
        <p><strong>Tłuszcz:</strong> {{ meal.fat }}</p>
        <p><strong>Przepis:</strong> {{ meal.recipe }}</p>
        <a href="{% url 'list_meals' %}" class="btn btn-primary">Powrót do listy posiłków</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
